
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

* {
    scrollbar-width: thin;
    scrollbar-color: grey rgb(211, 211, 210);
}
*::-webkit-scrollbar {
    width: 12px;
}
*::-webkit-scrollbar-track {
    background: grey;
}
*::-webkit-scrollbar-thumb {
    background-color: rgb(211, 211, 210);
    border-radius: 20px;
    border: 3px solid grey;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    color: black;
    transition: all 0.3s;
}

a:hover {
    color: rgb(19, 88, 250);
    text-decoration: none;
}

/* Welcome Section */

.welcome-section {
    color: white;
}

#inside {
    z-index: 10;
    margin: 0 auto;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.top-icons {
    color: white;
    font-size: 30px;
}

.top-icons:hover {
    color: rgb(187, 185, 185);
}

/* Particals */

#particles-js {
    background-color: #000000;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    top:0;
    width:100%;
    height:100vh;
}

@media screen and (max-width: 700px){
    #particles-js {
        height: 50vh;
    }
    #inside {
        top: -20%;
    }
}

/* Content */

section {
    color: black;
}

.too-early {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Projects */

.project {
    background-color: whitesmoke;
    height: 300px
}

.project p {
    color: rgb(101, 101, 101);
}

/* Icons */

.fa-laravel {
    color: red;
}

/* Home page button */

.homepage-button {
    padding: 10px;
}

/* Footer */

footer {
    background-color: rgb(17, 148, 213);
    color: whitesmoke;
    padding: 20px;   
}

.footer-icons {
    color: whitesmoke;
    font-size: 20px;
}

.footer-icons:hover {
    color: rgb(187, 185, 185);
}